@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito-VariableFont_wght.ttf) format("truetype");
  }
}

html,
body {
  @apply bg-transparent font-custom;
}

a {
  @apply text-h-green
}

th, td {
  @apply px-4
}

th:first-child, td:first-child {
  @apply px-2 sticky left-0
}
